<section class='blog'>
	<div class='section filter'>
		<div class='container'>
			<div class="row">
		        <div class="col-md-4">
		            <h1 class="text-xl text-black">
		                SUDIRMAN CUP 2017
		            </h1>
		        </div>
		        <div class="col-md-8 pulse-horizontal" data-fullpage-anima="pulse-horizontal" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="pulse-horizontal" aid="0.4928457041941967">
		            <h5>NEXT EVENT COUNTDOWN</h5>
		            <div class="countdown text-black" data-time="02/21/2018 10:30:00" data-utc-offset="-5" >
		                <span class="countdown-values countdown days" ng-event-countdown-days></span>
						<span class="countdown-label">Days</span>
						<span class="countdown-values countdown hours" ng-event-countdown-hours></span>
						<span class="countdown-label">Hours</span>
						<span class="countdown-values countdown minutes" ng-event-countdown-minutes></span>
						<span class="countdown-label">Minutes</span>
						<span class="countdown-values countdown seconds" ng-event-countdown-seconds></span>
						<span class="countdown-label">Seconds</span>
		            </div>
		        </div>
		    </div>

			<div class="fb-event-container">
				<div ng-article ng-article-type="event" ng-article-name="eventlist" >
					<div ng-include="'templates/cplusco_global_client/facebook_event_template.html'"></div>
				</div>
			</div>
		</div>
	</div>
</section>