		<ng-include src="'templates/cplusco_global_client/navbar.html'"></ng-include>

		<ng-include src="'templates/cplusco_global_client/event_list.html'"></ng-include>

		<section class='grey-strip'>
			<div class='text-center'><a href="#" class='btn blog-btn'>Upcoming &nbsp;Event</a></div>
			<div class='text-center'><a href="#sosmed" class='btn blog-btn'>Recent News</a></div>
		</section>
		<section id='club' class='club'>
			<div class='section filter'>
				<div class='container'>
					<h2 class='text-center'>Associated Club</h2>
					<div class="abt_separator"></div>
					<p class='text-center'>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
						totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
					</p>
					<div class='row'>
						<div class='col-xs-12'>
							<div class='clubs-slide' ng-slick ng-slick-parameters="{{club_slide_params}}">
								<div>
									<a href="#"><img src="assets/cplusco_global_assets/images/clubs/partner1.png"></a>
								</div>
								<div>
									<a href="#"><img src="assets/cplusco_global_assets/images/clubs/partner2.png"></a>
								</div>
								<div>
									<a href="#"><img src="assets/cplusco_global_assets/images/clubs/partner3.png"></a>
								</div>
								<div>
									<a href="#"><img src="assets/cplusco_global_assets/images/clubs/partner4.png"></a>
								</div>
								<div>
									<a href="#"><img src="assets/cplusco_global_assets/images/clubs/partner5.png"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id='join' class='join'>
			<div class='section filter'>
				<div class='container'>
					<h2>Join us today</h2>
					<div class='row'>
						<div class='col-md-8 col-sm-7 col-xs-12'>
							<p>
								In <strong style="font-family:'Oswald', sans-serif;font-style:normal">Badminton.com.au, </strong>We promote and facilitate participation in badminton at all levels and strive to become sporting and networking environment which create stimulating, enriching atmosphere for badminton players &amp; clubs from various backgrounds and skill levels.
							</p>
						</div>
						<div class='col-md-4 col-sm-5 col-xs-12' style='margin-top:1em'>
							<a href="#footer" class='btn join-btn'>Contact Us</a>
							<a href="#" class='btn join-btn'>For Club</a>
							<a href="#" class='btn join-btn'>For Player</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section join='gallery' class='gallery'>
			<div class='section filter'>
				<div class='container'>
					<div class='row'>
						<div class='col-md-9 col-sm-4 text-center'>
							<h2 class=''>Our gallery</h2>
							<div class="abt_separator"></div>
							<p class=''>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
							</p>
							<a href="#" class='push-left hidden-md hidden-lg btn insta-btn' style='margin-left:0px'>See more on Instagram</a>
						</div>
							
							<div class='col-md-3 col-sm-4 col-xs-12 gallery-frame hidden-xs gf-1'>
								<img src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/17126571_457954067869894_6178631555640983552_n.jpg" class=''>
							</div>
							<div class='col-md-3 col-sm-4 col-xs-12 gallery-frame hidden-xs gf-2'>
								<img src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/17267785_1329371520442509_1752840638136582144_n.jpg" class=''>
							</div>
							<div class='col-md-3 col-sm-4 col-xs-12 gallery-frame hidden-xs gf-3'>
								<img src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/17125360_259283614531689_3274037699836641280_n.jpg" class=''>
							</div>
							<div class='col-md-3 col-sm-4 col-xs-12 gallery-frame hidden-xs gf-4'>
								<img src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/17332994_295469147534136_2266758961438916608_n.jpg" class=''>
							</div>

						<div class='gallery-slide hidden-sm hidden-md hidden-lg'>
							<div class='col-md-3 col-sm-4 col-xs-12 gallery-frame gf-1'>
								<img src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/17126571_457954067869894_6178631555640983552_n.jpg" class=''>
							</div>
							<div class='col-md-3 col-sm-4 col-xs-12 gallery-frame gf-2'>
								<img src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/17267785_1329371520442509_1752840638136582144_n.jpg" class=''>
							</div>
							<div class='col-md-3 col-sm-4 col-xs-12 gallery-frame gf-3'>
								<img src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/17125360_259283614531689_3274037699836641280_n.jpg" class=''>
							</div>
							<div class='col-md-3 col-sm-4 col-xs-12 gallery-frame gf-4'>
								<img src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/17332994_295469147534136_2266758961438916608_n.jpg" class=''>
							</div>
						</div>
						<div class='col-md-3 col-sm-4 hidden-sm hidden-xs'>
							<div class='text-center'>
								<i class="fa fa-instagram" aria-hidden="true" style='font-size:100px;margin:40px auto 20px;'></i>
								<br>
								<a href="#" class='btn insta-btn'>See more on Instagram</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id='sosmed' class='sosmed'>
			<div class='filter'>
				<div class='container'>
					<p class='text-center' style='margin-bottom:0px'>Wanna know recent buzz and trend about badminton world? follow us on our official social media page below.</p>
					<div class='text-center'>
						<h2>
							<a href="#"><img src="assets/cplusco_global_assets/images/sosmed/facebook.png" class='sosmed-follow-logo'></a>&nbsp;&amp;&nbsp;<a href="#">
							<img src="assets/cplusco_global_assets/images/sosmed/weibo.png" class='sosmed-follow-logo'></a></div>
						</h2>
					<div class="abt_separator" style='max-width:768px;'></div>
					
					
					<div class="social-feed-container" ng-include="'templates/cplusco_global_client/buzzfeed_template.html'"></div>
				</div>
			</div>
		</section>

		<footer id='footer'>
			<div class='filter'>
			<article class="container">
				<!-- <img class="footer-logo" src="../images/footer-logo.png" alt="badminton.com.au'"/> -->
				<h3 class="footer-logo" itemprop="name">Badminton.com.au</h3>
				<ul class="table">
					<li class='col-lg-9 col-md-8 col-sm-8 col-xs-12' itemscope itemtype="http://schema.org/LocalBusiness">
						<p><span itemprop="description" class='text-justify'>We promote and facilitate participation in badminton at all levels and 
							strive to become sporting and networking environment which create stimulating, enriching atmosphere for badminton players &amp; clubs from various backgrounds and skill levels.</span></p>
						<address>
						<ul>
							<li>
								<ul>
									<li class="inline-block" style="vertical-align: top;min-width: 18px;"><i class="red fa fa-envelope" aria-hidden="true"></i> </li>
									<li class="inline-block" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
										<a title="find us with Google.maps | badminton.com.au'" class="" href="https://www.google.com/maps/place/Riparian+Plaza/@-27.46817,153.0282857,17z/data=!3m1!4b1!4m5!3m4!1s0x6b915a1c5aa10adb:0xba5ab8c7135a9ad!8m2!3d-27.46817!4d153.0304744" target="_blank">
											<span span itemprop="contactType">CPLUSco - Badminton Division</span>,<br>
											<span span itemprop="alternateName">CPLUSco Pty Ltd.</span>,<br>
											<span span itemprop="streetAddress">Riparian Plaza - Level 36 </span>,<br>
											<span itemprop="addressLocality">71 Eagle St.</span>, 
											<span itemprop="addressLocality">Brisbane </span>,<br>
											<span itemprop="addressRegion">QLD</span>
											<span itemprop="postalCode"> 4000</span>,<br>
											<span itemprop="country"> AUSTRALIA </span></a>
									</li>
								</ul>
							</li>
							<li>
								<ul>
									<li class="inline-block" style="vertical-align: top;min-width: 18px;">
										<i class="red fa fa-phone"></i></a>
									</li>
									<li class="inline-block" >
										<a title="click to call us | badminton.com.au'" class="" href="tel:+61731213265">
											<span class="phone-number-button" itemprop="telephone"> +61 7 3121 3265</span></a>
									</li>
								</ul>
								<ul>
									<li class="inline-block" style="vertical-align: top;min-width: 18px;">
										<i class="red fa fa-file"></i></a>
									</li>
									<li class="inline-block" >
										<a title="click to get our fax number | badminton.com.au'" class="" href="tel:+61731213030">
											<span class="phone-number-button" itemprop="faxNumber"> +61 7 3121 3030</span></a>
									</li>
								</ul>
								<ul>
									<li class="inline-block" style="vertical-align: top;min-width: 18px;">
										<i class="red fa fa-paper-plane"></i></a>
									</li>
									<li class="inline-block" >
										<a title="click to send email to us | badminton.com.au'" class="" href="mailto:badminton@cplusco.com">
											<span class="phone-number-button" itemprop="email"> badminton@cplusco.com</span></a>
									</li>
								</ul>
							</li>
						</ul>
						</address>
					</li>
					<li class='col-lg-3 col-md-4 col-sm-4 col-xs-12' >
						<ul>
							<li class="font-65 color-white head-point">Service</li>
							<li>
								<a title="Club services" href="#"><i class="red fa fa-group" aria-hidden="true"></i>&nbsp;For Club</a></li>
							<li>
								<a title="Individual / player service" href="#"><i class="red fa fa-user" aria-hidden="true"></i> &nbsp;For Player</a></li>
							<li>
								<a title="Badminton event organizer" target="_blank"><i class="red fa fa-trophy" aria-hidden="true"></i> &nbsp;Events &amp; Tournament</a></li>
							<li>
								<a title="Badminton facilitator and mediation" target="_blank"><i class="red fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp;QBA Registration</a></li>
					 	</ul>
					</li>
					<li class='col-lg-3 col-md-4 col-sm-4 col-xs-12'  style='margin-top:30px;'>
						<ul>
							<li class="font-65 color-white head-point">Links</li>
							<li>
								<a title="Follow us on Facebook" href="#"><i class="red fa fa-facebook" aria-hidden="true"></i> &nbsp;&nbsp;Facebook</a></li>
							<li>
								<a title="Follow us on Weibo" href="#"><i class="red fa fa-weibo" aria-hidden="true"></i> &nbsp;Weibo</a></li>
							<li>
								<a title="See our moment and share yours with us on Instagram" href="#"><i class="red fa fa-instagram" aria-hidden="true"></i> &nbsp;Instagram</a></li>
							<li>
								<a title="Read our recent news" target="_blank"><i class="red fa fa-bookmark" aria-hidden="true"></i> &nbsp;Recent News</a></li>
							<li>
								<a title="Prepare for upcoing event" target="_blank"><i class="red fa fa-bell-o" aria-hidden="true"></i> &nbsp;Upcoming Events</a></li>
					 	</ul>
					</li>
				</ul>
				<br>
				<p class='copyright' style="font-size:11px;"><i class="fa fa-copyright" aria-hidden="true"></i> CPLUSco Connect - 2017</p>
			</article>
		</div>
		</footer>

