<header>
	<nav class='navbar'>
		<ul class=' container'>
			<li><a href="#" title='badminton.com.au'><span class='glyphicon glyphicon-home'></span></a></li>
			<li><a href="#">For Club</a></li>
			<li><a href="#">For Player</a></li>
			<li><a href="#footer">About Us</a></li>
			<li style='float:right'><a href="tel:+61731213265"><span class='glyphicon glyphicon-phone-alt'></span><span class='hidden-xs'> call us</span></a></li>
		</ul>
	</nav>
</header>
<div class="fixed back-to-top">
	<a href="#home"><span class="glyphicon glyphicon-chevron-up"></span></a>
</div>